time.mat
Mining.mat 
filtered_Y.mat
filtered_matrix.mat
bnet2.mat
MiningProcess_Flotation_Plant_Database.csv
MiningProcess_Flotation_Plant_Database_orig.csv
*.mat
*.csv

EOMHierarchical_one_input/*.mat
I_O_HMM_one_input/*.mat
data/*.mat 
data/*.csv

cross_validation/k_folder_models/* 

