time.mat
Mining.mat 
filtered_Y.mat
filtered_matrix.mat
bnet2.mat
MiningProcess_Flotation_Plant_Database.csv
MiningProcess_Flotation_Plant_Database_orig.csv
*.mat
*.csv

EOMHierarchical_one_input/*.mat
